body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
  padding-top: 56px; /* Ensure there's space for the fixed navbar */
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin-right: 10px;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-item {
  flex: 1;
  text-align: center;
}

.app-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
}

.app-container h1 {
  text-align: center;
  color: #007bff;
  margin-bottom: 50px;
}

.table-responsive {
  margin-top: 20px;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table td, .table th {
  vertical-align: middle;
}

.pagination {
  margin-top: 20px;
}

.pagination .page-item.active .page-link {
  background-color: #007bff;
  border-color: #007bff;
}

@media (max-width: 768px) {
  .app-container {
    padding: 10px;
  }
}
